<!-- customer/change_password.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Page</title>
    <!--link rel="stylesheet" type="text/css" href="/userManagement/customer/style.css"-->
    <link rel="stylesheet" type="text/css" href="/userManagement/admin/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon1">
                            <div class="user1">
                                <% const filteredCustomers = customers.filter(customer => customer.username === loggedInUser); %>
                                <% if (filteredCustomers.length > 0) { %>
                                    <% const customer = filteredCustomers[0]; %>
                                    <% if (customer.images) { %>
                                        <img src="data:image/png;base64, <%= Buffer.from(customer.images).toString('base64') %>" alt="User Image">
                                    <% } else { %>
                                      <ion-icon name="people-outline"></ion-icon>
                                    <% } %>
                                <% } else { %>
                                  <ion-icon name="people-outline"></ion-icon>
                                <% } %>
                            </div>
                        </span>
                        <span class="title1">User</span>
                    </a>
                </li>
                <li>
                    <a href="/customer-details">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">General</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/change-password">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign out</a></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline";"></ion-icon>
                </div>
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Change Password</h1>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <ul>
                                    <div class="customer">
                                        <form action="/customer/change-password" method="POST">
                                            <div class="details">                                                  
                                                <li>
                                                    <span><label for="currentPassword">Current Password: </label><input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password" required></span>
                                                </li>
                                                <!--li>
                                                    <span><label for="username">Username: </label><input type="text" name="username" id="username" placeholder="Username"></span>
                                                </li-->
                                                <li>
                                                    <span><label for="newPassword">New Password: </label><input type="password" id="newPassword" name="newPassword" placeholder="New Password" required></span>
                                                </li>
                                                <li>
                                                    <span><label for="condirmPassword">Confirm Password: </label><input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required></span>
                                                </li>
                                                <span><button type="submit" class="btn">Change Password</button></span>
                                            </div>
                                        </form>
                                    </div>
                                </ul>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="/userManagement/admin/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/userManagement/admin/js/main.js"></script>


</body>
</html>
